.dashboard {
  position: relative;
  width: calc(100vw - 117px);
  padding: 2% 5% 0 5%;
}

.dashboard__header .greeting {
  font-size: var(--font-size-48);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
}

.dashboard__header .firstname {
  color: var(--primary-color);
}

.dashboard__header .motivationalSpeech {
  margin-top: 0;
  margin-bottom: 40px;
}

.dashboard__content {
  display: flex;
  position: relative;
  
}

.dashboard__charts {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.dashboard__row {
  display: flex;
  justify-content: space-between;
}

.dashboard__row:first-child{
  margin-bottom: 30px;
}

.dashboard__nutrients{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  width: 30%;
}

.chart-item {
  width: 30%;
  aspect-ratio: 1/1;
}

@media screen and (min-width: 1200px) {

  .dashboard__header .greeting {
    margin-bottom: 20px;
  }

  .dashboard__header .motivationalSpeech {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .chart-item {
    max-width: 300px;
    max-height: 300px;
  }
}